#upload_box {
    display: inline-block;
    vertical-align: top;
}

#video_container {
    width: 750px;
    height: 422px;
    border: 1px #333 solid;
    position: relative;
}

#videoElement {
    width: 100%;
    height: 100%;
    max-width: 750px;
    max-height: 422px;
    background-color: #666;
    position: absolute;
    z-index: 0;
    object-fit: fill;
}

.filter {
	height: 72px;
	width: 128px;
    display: inline-block;
}

.filter_image {
	height: 100%;
	width: 100%;
}

.selected {
    border: 1px #333 solid;
}

#preview {
	position: absolute;
    width: 100%;
    height: 100%;
    max-width: 750px;
    max-height: 422px;
    z-index: 1;
}

#previous_pics {
    display: inline-block;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 500px;
}

.ppic {
    width: 100%;
    height: auto;
}

.ppic_image {
    height: 100%;
    width: 100%;
}