#page {
}

#upload_box {
    display: inline-block;
    vertical-align: top;
    width: 60%;
}

#camera_box {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

#video_container {
    width: 750px;
    height: 422px;
    max-width: 750px;
    max-height: 422px;
    border: 1px #333 solid;
    position: relative;
}

#videoElement {
    width: 100%;
    height: 100%;
    background-color: #666;
    z-index: 0;
    object-fit: fill;
}

#preview {
    position: absolute;
    max-width: 750px;
    max-height: 422px;
    z-index: 1;
    bottom: 0px;
    right: 0px;
}

#filters {
    overflow-y: scroll;
    width: 100%;
    height: 90px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.filter {
	height: 72px;
	width: 128px;
    display: inline-block;
    position: relative;
}

.filter_image {
    position: absolute;
    max-height: 100%;
    max-width: 100%;
    z-index: 1;
    bottom: 0px;
    right: 0px;
}

.selected {
    border: 1px #333 solid;
}

#previous_pics {
    display: inline-block;
    overflow-y: scroll;
    height: 750px;
    width: 35%;
}

.ppic {
    width: 95%;
    height: auto;
}

.ppic_image {
    height: 100%;
    width: 100%;
}

@media (max-width: 1300px) {
    #previous_pics {
        display: block;
        width: 100%;
    }

    #video_container {
        width: 200px;
        height: 113px;
    }
}